/* width:1320px */
/* 패딩 양쪽으로 20px, 콘텐츠는 1280px */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn .btn_type {
    font-size: 18px;
    width: 256px;
    height: 64px;
    background-color: #111;
    color: #fff;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-size: 16px;
}

.center_box {
    width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav {
    display: flex;
    font-family: "Poppins", sans-serif;
}

.nav li a {
    display: inline-block;
    margin-right: 30px;
    font-weight: 400;
}

.top_menu {
    display: flex;
}

.top_menu li:last-child {
    margin-left: 40px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details_text {
    position: absolute;
    top: 400px;
    left: 0;
    margin-bottom: 15px;
}
.details_text h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 60px;
}

.details_text p {
    margin-bottom: 18px;
}

.visual {
    width: 1320px;
    height: 730px;
    padding: 40px;
    margin: 0 auto;
    background-image: url(/images/main_visual.png);
    background-repeat: no-repeat;
    background-position: center right 90px;
    position: relative;
}

/* .product_new&kick */

.product_new .product_title {
    font-family: "Poppins", sans-serif;
}

.product_01 {
    display: flex;
    justify-content: space-between;
}
.product_01 li {
    width: 630px;
    height: 640px;
    background-color: #111;

    position: relative;
}

.product_01 li a {
    display: flex;
}

.product_01 img {
    margin-left: 10px;
}

.product_01 li h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 50px;
    left: 40px;
}

.product_01 li a {
    position: absolute;
    top: 500px;
    left: 40px;
    color: #fff;
    font-size: 20px;
}

.center_box h3 {
    font-size: 30px;
    font-weight: 800;
    color: #111;
    margin-top: 130px;
    margin-bottom: 20px;
}

.center_box .items {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.center_box .items li .photo {
    width: 300px;
    height: 300px;
    background-color: #666;
}

.center_box .items .price {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #111;
    padding-top: 10px;
    padding-left: 5px;
}

.center_box .items::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    background-color: #e1e1e1;
    bottom: 0;
    left: 0;
}

.items li {
    padding-bottom: 63px;
}

/* //product new&kick */

/* .infos */
.infos {
    margin-bottom: 100px;
}
.infos h4 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding-top: 200px;
}

.infos p {
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

.btn.small {
    margin: 0 auto;
    margin-top: 17px;
    padding: 17px 40px;
    border: 2px solid #111;
    background-color: #fff;
    width: 250px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

.footer {
    background-color: #111;
    width: 1320px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.footer .footer_menu {
    color: #fff;
    display: flex;
    padding-left: 80px;
}

.footer .footer_menu li {
    color: #fff;
    font-size: 14px;
    width: 200px;
    height: 30px;
}

.footer .footer_menu li h5 {
    font-weight: 400;
    font-size: 12px;
    color: #d9d9d9;
    padding: 140px 0 20px 0;
}

.copyright {
    font-size: 10px;
    color: #d9d9d9;
    position: absolute;
    top: 350px;
    left: 80px;
}

.footer_icon {
    position: absolute;
    top: 100px;
    left: 980px;
    width: 300px;
}

.footer_icon a {
    color: #d9d9d9;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
}
.footer_icon .icons {
    display: flex;
    width: 100%;
}

.footer_icon .icons li img {
    display: block;
    margin-right: 20px;
}
