.container_02 {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 50px;
    position: relative;
}

.container_02 .product_name {
    width: 1320px;
    height: 660px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.product {
    width: 630px;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
}

.product_name .arrow {
    position: absolute;
    top: 520px;
    left: 1060px;
    color: #111;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.product_name .arrow_2 {
    position: absolute;
    top: 520px;
    left: 1130px;
    color: #111;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.detail {
    height: 630px;
    /* background-color: green; */
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.detail .category p {
    font-size: 14px;
}

.detail .category h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}

.detail .price {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    padding: 20px 0;
}

.detail .size {
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    padding: 20px 0;
}

.detail .size .p2 {
    text-decoration: underline;
}

/* 칸간격18.칸크기90 */

.detail .detail_size {
    display: flex;
}

.detail .detail_size .tab {
    width: 90px;
    height: 90px;
    border: 1px solid #111;
    text-align: center;
    line-height: 90px;
    font-weight: 600;
    font-size: 20px;
    margin: 0 20px 20px 0;
}

.detail .detail_btn {
    width: 532px;
    height: 64px;
    background-color: #111;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
}

/* //여기까지 container_02// */

/* container_03 */

.container_03 {
    width: 1320px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container_03 .product_02 {
    margin-top: 150px;
}

.container_03 .product_02 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 28px;
}

.container_03 .product_02 p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.container_03 .big_photo {
    background-color: #e1e1e1;
    width: 410px;
    height: 550px;
    display: inline-block;
    margin-right: 10px;
}

.product_top .center_box {
    position: relative;
}

.product_top .items {
    position: relative;
}

.items::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    background-color: #e1e1e1;
    bottom: 0;
    left: 0;
}

.items li a:hover {
    width: 100%;
}
.items li {
    padding-bottom: 63px;
}
.footer {
    margin-top: 150px;
}
